# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ List popular open-source tools for Data Science
+ Show a simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|--------------------|
|JupyterLab|
|Anaconda|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

17

In [18]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Oleksandr Yepur